@import url("https://fonts.googleapis.com/css2?family=Antonio&family=Bilbo+Swash+Caps&family=Days+One&family=Fjalla+One&family=Josefin+Sans&family=Limelight&family=Poppins&family=Tangerine:wght@700&display=swap");

*,
body {
    font-family: "Poppins", sans-serif;
}

#about {
    margin-top: 120px;
    max-width: 1920px;
    margin-inline: auto;
}

#siteName {
    font-family: "Josefin Sans", sans-serif;
}

.aboutmain {
    margin-bottom: 85px !important;
}

.about1 {
    max-width: 52ch;
    line-height: 2.2rem;
    font-size: 1.1rem;
}

.about2 {
    max-width: 60ch;
    line-height: 2.2rem;
    font-size: 1.1rem;
}

.about3 {
    max-width: 65ch;
    line-height: 2.3rem;
    font-size: 1.2rem;
}

.aboutimg {
    min-width: 300px;
}

.aboutimg2 {
    min-width: 100px;
}

.story {
    background-color: #f3e7dd;
}

#footer {
    font-family: sans-serif;
}