/* Chrome, Safari, Edge, Opera */
#registerPhone::-webkit-outer-spin-button,
#registerPhone::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#registerPhone[type="number"] {
    -moz-appearance: textfield;
}
