.features{
    font-weight: 400;
    font-size: 1.05rem;
    list-style: none;
    text-align: center;
    line-height: 1.7;
    
  }
  
  @media (min-width: 200px) and (max-width: 767.98px) {
    .features{
      line-height: 1.5;
    }
  }
  