#packages{
    margin-top: 130px;
    margin-bottom: 70px;
}

.subhead{
    margin-bottom: 70px;
}

.addOnHeading{
  font-family: 'Fjalla One', sans-serif;
}

.features{
  font-weight: 400;
  font-size: 1.05rem;
  list-style: none;
  text-align: center;
  line-height: 1.5;
}

.features li:before {
  content: '✓ ';
}

.package-footer{
    font-family: 'Bilbo Swash Caps', cursive;
}

.add-on{
    height: 180px;
    width: 180px;
    object-fit: cover;
}

.card{
    background-color: #f5dcca;
}

table th {
  text-align: center;
}

table td {
  padding: 8px;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 21px;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: #B99B84;
}

/**/
.adOnCard {
    max-width: 25ch;
    text-align: center;
    background: #efdccd;
    padding: 1.2em;
    padding-block: 1.2em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .adOnCard > :not(span) {
    transition: .3s cubic-bezier(.6,.4,0,1);
  }

  .card__body {
    color: #464853;
    font-size: 1em;
    margin-top: 0;
    padding-top: 0;
  }
  
  .adOnCard > strong {
    display: block;
    font-size: 1.4rem;
    letter-spacing: -.035em;
  }
  
  .adOnCard span {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    border-radius: 5px;
    top: 100%;
    transition: all .3s cubic-bezier(.6,.4,0,1);
    padding: 10px;
  }
  
  .adOnCard:hover span {
    top: 0;
    font-size: 1.1em;
  }
  
  .adOnCard:hover {
    background: rgb(222, 199, 179);
  }
  
  .adOnCard:hover>div,.adOnCard:hover>strong {
    opacity: 0;
  }

/**/




@media (min-width: 576px) and (max-width: 991.98px) {
    .package-card {
        width: 24rem !important;
    }
}