@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Days+One&family=Fjalla+One&family=Josefin+Sans&family=Limelight&family=Poppins&family=Tangerine:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FAF4F0;
    overflow-x: hidden; 
    width: 100vw;
}


#siteName {
    display: flex;
    align-items: center;
}

.navbar{
    background-color: #F3E7DD;
}

.navbar a{
    text-transform: uppercase;
    color: #464B24;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 3px;
}

.navbar-nav a:hover{
    font-weight: bold;
    color: #966640;
}

.navbar-brand img{
    height: 3rem;
    margin-right: 8px;
    padding-left: 10px;
}

.navbar-brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-toggler{
    margin-right: 10px;
}

.section-header-1{
    font-family: 'Days One', sans-serif;
}

.section-header-2{
    font-family: 'Bilbo Swash Caps', cursive;
}

footer{
    background-color: #B99B84;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: #464B24;
}

#newsletter-btn{
    background-color: #795e4a;
}


/*responsive CSS*/
@media only screen and (max-width: 300px){

    .navbar-nav{
        text-align: center;
    }
    
    .navbar-brand{
        font-size: 1rem;
        margin: 0;
    }

    .navbar-toggler{
        font-size: 1rem;
    }

}

@media only screen and (min-width: 300px) and (max-width: 768px){

    .navbar-nav{
        text-align: center;
    }

    .navbar-brand{
        font-size: 1rem;
        margin: 0;
    }

    .navbar-toggler{
        font-size: 1rem;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 991px){

    .navbar-nav{
        text-align: center;
    }

}

