.button{
    background-color: #B99B84 !important;
    border: none;
    color: white;
}

.poppins{
    font-family: 'Poppins', sans-serif; 
}


.design{
    width: 50px;
}


/*HOME*/
.home-img{
    object-fit: cover;
    width: 300px;
    height: 300px;
}

#home{
    height: 500px;
    font-family: 'Fjalla One', sans-serif;
}

#homeSubhead{
    font-family: 'Poppins', sans-serif;
}

/*WHY CHOOSE US*/
.card-img-top{
    object-fit: cover;
    height: 200px;
    padding: 15px;
}

.flip-card {
    background-color: transparent;
    perspective: 1000px;
    border: none;
    min-height: 300px;
}

.title {
text-align: center;
margin: 0;
font-family: 'Fjalla One', sans-serif;
}

.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
border-radius: 1rem;
font-family: 'Poppins', sans-serif;
}

.flip-card-front {
background: linear-gradient(120deg, rgb(230, 203, 170) 60%, rgb(206, 181, 112) 88%,
    rgb(213, 182, 79) 40%, rgba(255, 127, 80, 0.603) 48%);
color: rgb(129, 97, 26);
}

.flip-card-back {
background: linear-gradient(120deg, rgb(230, 203, 170) 60%, rgb(206, 181, 112) 88%,
    rgb(213, 182, 79) 40%, rgba(255, 127, 80, 0.603) 48%);
color: rgb(129, 97, 26);
transform: rotateY(180deg);
}

/*GALLERY*/
.gallery-lg img {
    height: 300px !important;
}

.gallery-md img {
    height: 300px !important;
}

.gallery-sm img {
    height: 300px !important;
}

.gallery-d img {
    height: 300px !important;
}

.line{
    background-color: rgb(152, 117, 91);
    height: 1px;
}




/*OCCASION*/
.occasion-cursive{
    font-family: 'Bilbo Swash Caps', cursive;
    color: rgb(177, 139, 109);
}

.occasion{
    font-family: 'Josefin Sans', sans-serif;
}

.occasion-heading, .gallery-heading{
    font-family: 'Bilbo Swash Caps', cursive;
}


/*PACKAGES*/
.card-package {
    min-height: 200px;
    border-radius: 20px;
    background: #fcede2;
    position: relative;
    border: 2px solid #dfbda3;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    overflow: visible;
  }
  
  .card-details {
    color: rgb(247, 114, 66);
    height: 100%;
    display: grid;
    place-content: center;
    font-family: 'Josefin Sans', sans-serif;
  }

  .package-price{
    color: #B99B84;
    font-family: 'Fjalla One', sans-serif;
  }
  
  .card-button {
    text-decoration: none;
    text-align: center;
    -webkit-transform: translate(-50%, 125%);
    -ms-transform: translate(-50%, 125%);
    transform: translate(-50%, 125%);
    width: 70%;
    border-radius: 1rem;
    border: none;
    background-color: #B99B84;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
  }

  .card-button:hover{
    color: white;
  }
  
  .text-body {
    color: rgb(134, 134, 134);
    font-family: 'Poppins', sans-serif;
  }
  
  .card-package:hover {
    border-color: coral;
    -webkit-box-shadow: 10px 5px 18px 0 rgba(255, 255, 255, 0.877);
    box-shadow: 10px 5px 18px 0 rgba(255, 255, 255, 0.877);
  }
  
  .card-package:hover .card-button {
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    opacity: 1;
}

/*REVIEWS*/
.reviewerName{
    font-family: 'Poppins', sans-serif;
}

.review-image{
    height: 170px;
    object-fit: cover;
}

.review-carousel{
    background-color: rgb(193, 151, 119);
}

#book, #gallery{
    background: #dbb293;
}




/*FAQs*/
.accordion{
    --bs-accordion-btn-bg: #dbb293;
    --bs-accordion-active-bg: rgb(193, 151, 119);
    --bs-accordion-active-color: white;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-bg: #f3dccc;
    --bs-accordion-color: white;
    --bs-accordion-btn-color: white;
    --bs-accordion-btn-active-icon: white;
}

.accordion-body{
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-size: 1.1rem;
}

.accordion-button:not(.collapsed){
    box-shadow: none;
}

.accordion-button:after{
    color: white;
}

.accordion-button:before{
    color: white;
}



@media (min-width: 768px) {
    .card-img-top {
        height: 300px;
    }

    .flip-card {
        min-height: 400px;
    }
}

@media (min-width: 992px) {
    .card-img-top {
        height: 200px; 
    }

    .flip-card {
        min-height: 300px;
      }
}